<div class="nav">
    <div class="title"><h1>Online petition for "More Kita"</h1></div>
    <div id="menu"><img src="/img/hamburgermenu.svg" alt="menu"></div>
    <div class="hmenu">
        <ul>

            <li><a href="/thanks">Info</a></li>
            <li><a href="/profil/edit">Edit profil</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>

    </div>
</div>
