{{> mainnav }}
<div id="headlines">

</div>
<h2>Welcome to the Online Petition site of "More Kita"!</h2>
<div id="infobox">
    <div id="infoimg">
    <img src="/img/image-1141498-galleryV9-dsrv-1141498.jpg" alt="">
    <p class="imgwrite">(People wait for a Kita place)</p>
</div>
<div id="infotext">
    <p class="info">In Germany give more children as Kita place.
        Sometimes to find a good place, last more then 1 year.
    Experts say, in Gemany missing more then 300.000 Kita place <a href="http://www.spiegel.de/lebenundlernen/job/kita-krise-in-deutschland-warum-fehlen-so-viele-plaetze-a-1211083.html" target="_blank">(via Spiegel)</a>
    If you would like more Kita in Germany, please sign in!</p>

    <div class="buttons">
    <div class="welcomebutton"><a href="/registration"><p>sign in</p></a></div> or <div class="welcomebutton"><a href="/login"><p>log in</p></a></div>
    </div>

    <h2>We have {{numOf}} signatures at yet. We need more!</h2>
</div>
</div>
